

body {

	font-family: 'Source Sans Pro', sans-serif;

}

a {

	font-family: 'Source Sans Pro', sans-serif;

}

.img-home img {
	padding-top:90px;
	 margin: 0 auto;
}

.navbar-default {
	margin-top:15px;

}

.navbar-brand {
	font-weight:700;
}

.tittle-album h2 {
	font-size:20px;
	margin:65px 0px 0px 15px;
	color:#000;
	font-weight: 700;

}

.single-image img{
	width:256px;
	height:auto;
}

.thumbsContainer {
	/* width: 220px; */
	float: left;
	margin: 0 10px 10px 0;

	}


.coverContainer {
	width: 100%;
	display: inline-block;
	color:#FFF;
	}

.caption {
	padding: 10px;
	background: white;

	bottom: 0px;
	width: 100%;
	box-sizing: border-box;
	}

.img-slider {
	width:100%;
	text-align:center;

}

.desc p, .desc {
    color: black;
    font-size: 14px;
    line-height: 1.9;
    margin-bottom: 20px;
    text-align: left!important;
}

.line-blog{
	   border-bottom: 1px solid #7f7f7f;
	   margin-top:50px;
	   width:100%;

}
	
 .blog-w{
 	padding:0px 15px;
 	padding-bottom:30px;
 	margin:0 auto;

 }

 .title-blog{
 	 margin: 15px 0 5px 0px!important;
 	 font-size:18px!important;


 }

 .blog{
 	padding-top:10px;
 }

.col-lg-6 form{
	padding:0px 15px!important;
}

.sub-title{
	    font-weight: 700;
	    margin-bottom: 5px!important;

}

.formacion-text{
	margin-bottom:2px!important;
	color:black!important;
}

.foot p{
	font-size:12px;
	margin-top:60px;
	margin-bottom:100px;
	display:inline-block;
	color:#000;
}

.redes{
	float:right;
	font-size:12px;
	margin-top:60px;
	margin-bottom:100px;
}

.foot a{
	text-decoration:none;
	color:#000;

}

.foot a:hover{
	text-decoration:none;
	color:#525252;
	
}


/* Tipo pinterest */

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body {
  font-family: sans-serif;
}

/* ---- isotope ---- */

.grid {
  background: #FFF;

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
  padding:0px
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

/* FIN TIPO PINTEREST */

.track-nav{
	padding-top:5px;
	text-align:center;
}

input:active {
border-top:none!important;
border-left:none!important;
border-right:none!important;
border-bottom:1px solid #1380d1!important;
background-color:#FFF!important;
-webkit-box-shadow: none!important;
box-shadow: none!important;
}


input:focus {
border-top:none!important;
border-left:none!important;
border-right:none!important;
border-bottom:1px solid #1380d1!important;
background-color:#FFF!important;
-webkit-box-shadow: none!important;
box-shadow: none!important;
}

textarea:focus {
border-top:none!important;
border-left:none!important;
border-right:none!important;
border-bottom:1px solid #1380d1!important;
background-color:#FFF!important;
-webkit-box-shadow: none!important;
box-shadow: none!important;
}


.mosaico-img2{
	height:160px;
	width:100%;
}

.contact-f{
	padding-top:50px;
}

.sub-album h3{

	font-size:16px;
	margin:25px 0 65px 15px;
	color:#777;

}

.nv-margin{
	margin-left: 20px!important;
}

.contact-section{
	padding-top: 60px;
    padding-bottom: 60px;

}
@media screen and (max-width:1079px){
	.mosaico-img2{
		height:auto!important;

	}

	.yamm .yamm-content {


	  padding-left:0px!important;


	}

	.nv-margin{
		margin-left: 0px!important;
	}


}
 @media screen and (max-width:691px){


 .blog-w{
 	padding:0px 15px;
 	margin:0 auto;
 	padding-bottom:30px;

 }

	.contact-section{
		padding-top: 60px!important;
	    padding-bottom: 60px!important;

	}


 }
