<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>José Moroni</title>

<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="fonts/SourceSans.woff2" rel="stylesheet" />
<link href="js/magnific-popup/magnific-popup.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/yamm.css" rel="stylesheet">
<link rel="stylesheet"
	href="css/ionicons.min.css" />

<script src="js/jquery/jquery.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>


</head>

<body>
	<div class="container">
		{% include 'navbar.html' %}
		<!--IMG HOME !-->
		<section class="tittle-album">
			<div class="row">
				<div class="col-lg-12">
					<h2>Contacto</h2>
				</div>
			</div>
		</section>

		<section class="texto-bio">
				<div class="row">
					<div class="col-md-12 desc">
						<div class="blog-w contact-section">
							<p style="color:black;">contacto@josemoroni.com.ar</p>
						</div>
					</div>
				</div>
		</section>

<!--
	<section class="contact-f">
		<div class="row">
			<form method="post" id="formularioEnvio" onsubmit="return envio();">
				<div class="col-lg-6">
						<div id="msgerror" style="display: none; text-align: center"
							class="alert alert-danger" role="alert">
							No se pudo enviar el correo <br>Por favor intentelo mas tarde
						</div>
						<div id="msgsuccess" style="display: none; text-align: center"
							class="alert alert-success" role="alert">
							Su mensaje ha sido enviado <br> Se le respondera a la
							brevedad
						</div>

						<input type="text" class="form-control" placeholder="Nombre"
							name="nombre" id="nombre" required
							data-validation-required-message="Por favor dejanos tu nombre.">
						<input type="email" class="form-control" placeholder="Email"
							name="email" id="email" required
							data-validation-required-message="Por favor dejanos tu nombre.">
						<input type="number" class="form-control" placeholder="Celular"
							name="telefono" id="telefono" required
							data-validation-required-message="Por favor dejanos tu nombre.">
				</div>
				<div class="col-lg-6">
						<textarea class="form-control" placeholder="Mensaje" name="mensaje"
							id="mensaje" required
							data-validation-required-message="Por favor dejanos tu mensaje."
							style="height: 175px;"></textarea>
				</div>
			</form>
		</div>

			<div class="row">
				<div class="col-lg-12">
					<div style="text-align: center;">
						<button type="submit" id="buttonSend" class="btn btn-default"
							style="width: 200px; margin-top: 50px; height: 50px; margin-bottom: 50px;">Enviar</button>
					</div>
				</div>
			</div>
		</section>
!-->
					{% include 'footer.html' %}
		</div>



	<script src="js/jquery.easing.min.js"></script>
	<script src="js/magnific-popup/scrollreveal/scrollreveal.min.js"></script>
	<script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="js/creative.min.js"></script>
	<script src="js/analyticstracking.js" type="text/javascript"></script>
	<script type="text/javascript">
		function envio() {
			$("#buttonSend").attr('disabled', 'disabled');
			$('html,body').css('cursor', 'progress');
			var nombre = $("#nombre").val();
			var email = $("#email").val();
			var telefono = $("#telefono").val();
			var mensaje = $("#mensaje").val();
			$.ajax({
				type : "POST",
				url : "includes/sendmail.php",
				data : {
					nombre : nombre,
					email : email,
					telefono : telefono,
					mensaje : mensaje
				}
			}).done(function(respuesta) {
				if (respuesta == 1) {
					$("#msgsuccess").css("display", "block");
					document.getElementById("formularioEnvio").reset()
				} else {
					$("#msgerror").css("display", "block");
				}
				$("#buttonSend").removeAttr('disabled');
				$("body").css("cursor", "default");
			});
			return false;
		}
	</script>
</body>
</html>
