<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>José Moroni</title>

<link href="img/favicon.ico" rel="shortcut icon"/>
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<link href="css/bootstrap.css" rel="stylesheet"/>
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="fonts/SourceSans.woff2" rel="stylesheet"/>
<link href="js/magnific-popup/magnific-popup.css" rel="stylesheet"/>
<link href="css/style.css" rel="stylesheet"/>

</head>

<body>




	<div class="container">
		{% include 'navbar.html' %}		
		<!--IMG HOME !-->
		<section class="tittle-album">
			<div class="row">
				<div class="col-lg-12">
					<h2>Contacto</h2>
				</div>
			</div>
		</section>




			<div class="row">
				<div class="col-lg-6">
					<img class="img-responsive" style="margin-bottom:100px;" src="fotos/default/fotografo.jpg">
				</div>
				<div class="col-lg-6">
					<form>
						<input type="text" class="form-control" placeholder="Nombre" id="name" required data-validation-required-message="Por favor dejanos tu nombre.">


						<input type="text" class="form-control" placeholder="Celular" id="name" required data-validation-required-message="Por favor dejanos tu nombre.">


						<textarea class="form-control" placeholder="Mensaje" id="message" required data-validation-required-message="Por favor dejanos tu mensaje." style="height: 200px;"></textarea>
						<div style="text-align:center;">
							<button type="submit" class="btn btn-default" style="width: 200px; margin-top: 50px; height: 50px;margin-bottom:50px;">Enviar</button>
						</div>
					</form>
				</div>
			</div>

			<div class="col-lg-12 text-center">
				
			</div>

		{% include 'footer.html' %}

		</div>





	<script src="js/jquery/jquery.min.js"></script>
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/magnific-popup/scrollreveal/scrollreveal.min.js"></script>
	<script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="js/creative.min.js"></script>

</body>

</html>
