<script type="text/javascript">
	$(function() {
		$(document).on('click', '.yamm .dropdown-menu', function(e) {
			e.stopPropagation()
		})
	})
</script>

<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="ion-navicon-round" style="color: #777; font-size: 25px;"></span>
	</button>
			<a href="home.php" class="navbar-brand">JOSÉ MORONI</a>
</div>

<nav class="collapse yamm navbar-collapse"
	id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right" style="font-size:16px;margin-top:12px;">
		<li><a href="home.php">Inicio</a></li> {% if albumes|length > 0 %}
		<li class="dropdown yamm-fullwidth"><a href="#"
			data-toggle="dropdown" class="dropdown-toggle">Series<b
				class="caret"></b></a>
			<ul class="dropdown-menu">
				<li>
					<div class="yamm-content">
						<div class="row" style="margin: 0px;">
							<div class="col-lg-12">
								<ul style="">
									{% for album in albumes %}
									<div class="col-lg-2 col-md-4 col-xs-6 track-nav">

										<a href="album.php?id={{album.id}}">{{ album.titulo }}</a>

									</div>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</li>
			</ul></li> {% endif %}

		<li><a href="sobremi.php">Bio</a></li> {% if activeBlog > 0 %}
		<li><a href="blog.php">Blog</a></li> {% endif %}
		<li><a href="contacto.php">Contacto</a></li>
	</ul>
</nav>
<!-- /.navbar-collapse -->


