<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>José Moroni</title>

<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" />
<link href="fonts/SourceSans.woff2" rel="stylesheet" />
<link href="js/magnific-popup/magnific-popup.css" rel="stylesheet" />
<link href="fancybox/source/jquery.fancybox.css?v=2.1.5" rel="stylesheet" type="text/css" media="screen" />
<link href="css/yamm.css" rel="stylesheet">
<link href="css/ionicons.min.css" rel="stylesheet" />
<script src="js/jquery/jquery-latest.min.js" type="text/javascript"></script>
<script src="js/jquery/jquery.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
</head>

<body>

	<div class="container">
		{% include 'navbar.html' %}
		<!--IMG HOME !-->
		<section class="tittle-album">
			<div class="row">
				<div class="col-lg-12">
					<h2>{{album.titulo}}</h2>
				</div>
			</div>
		</section>

		<section class="sub-album">
			<div class="row">
				<div class="col-lg-12">
					<h3>{{album.subtitulo}}</h3>
				</div>
			</div>
		</section>
		<!--FIN IMG HOME !-->

		<div class="row">
			{% for foto in fotos %}
			<div class="col-lg-12 sr-icons">
				<a class="fancybox thumbnail" href="{{foto.path}}"><img
					src="{{foto.path}}"> </a>
			</div>
			{% endfor %}
		</div>

		{% include 'footer.html' %}

	</div>
	<!--DIV CONTAINER !-->
	
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/magnific-popup/scrollreveal/scrollreveal.min.js"></script>
	<script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="js/creative.min.js"></script>
	<script src="fancybox/source/jquery.fancybox.pack.js?v=2.1.5"
		type="text/javascript"></script>
	<script src="js/analyticstracking.js" type="text/javascript"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$(".fancybox").fancybox();
		});
	</script>
</body>

</html>
