<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>José Moroni</title>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" />
<link href="fonts/SourceSans.woff2" rel="stylesheet" />
<link href="js/magnific-popup/magnific-popup.css" rel="stylesheet" />
<link href="fancybox/source/jquery.fancybox.css?v=2.1.5"
	rel="stylesheet" type="text/css" media="screen" />
<link href="css/yamm.css" rel="stylesheet">
<link rel="stylesheet"
	href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

<script src="js/jquery/jquery-latest.min.js" type="text/javascript"></script>
<script src="js/jquery/jquery.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>


</head>

<body>
	<div class="container">
		{% include 'navbar.html' %}
		<!--IMG HOME !-->
		<section class="tittle-album">
			<div class="row">
				<div class="col-lg-12">
					<h2>{{album.titulo}}</h2>
				</div>
			</div>
		</section>
		<section class="sub-album">
			<div class="row">
				<div class="col-lg-12">
					<h3>{{album.subtitulo}}</h3>
				</div>
			</div>
		</section>

		<!--FIN IMG HOME !-->

		<div id="carousel-example-generic" class="carousel slide"
			data-ride="carousel">

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				{% for foto in fotos %} {% if loop.index == 1 %}
				<div class="item active">
					<div class="img-slider sr-icons">
						<img src="{{foto.path}}" alt="...">
					</div>
				</div>
				{% else %}
				<div class="item">
					<div class="img-slider">
						<img src="{{foto.path}}" alt="...">
					</div>
				</div>
				{% endif %} {% endfor %}
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic"
				role="button" data-slide="prev"> <span
				class="glyphicon glyphicon-chevron-left" style="color: #777"></span>
			</a> <a class="right carousel-control" href="#carousel-example-generic"
				role="button" data-slide="next"> <span
				class="glyphicon glyphicon-chevron-right" style="color: #777"></span>
			</a>
		</div>
		<!-- Carousel -->

		{% include 'footer.html' %}

	</div>
	<!--DIV CONTAINER !-->

	<script src="js/jquery.easing.min.js"></script>
	<script src="js/magnific-popup/scrollreveal/scrollreveal.min.js"></script>
	<script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="js/creative.min.js"></script>
	<script src="fancybox/source/jquery.fancybox.pack.js?v=2.1.5" type="text/javascript"></script>
	<script src="js/analyticstracking.js" type="text/javascript"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$(".fancybox").fancybox();
		});
	</script>

</body>

</html>
