<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>José Moroni</title>

<link href="img/favicon.ico" rel="shortcut icon"/>
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<link href="css/bootstrap.css" rel="stylesheet"/>
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="fonts/SourceSans.woff2" rel="stylesheet"/>
<link href="magnific-popup/magnific-popup.css" rel="stylesheet"/>
<link href="css/style.css" rel="stylesheet"/>

</head>
<body>
		<div class="container">
			{% include 'navbar.html' %}
			<section class="tittle-album">
				<div class="row">
					<div class="col-lg-12">
						<h2>Biografía - José Luis Moroni</h2>
					</div>
				</div>
			</section>

		<section class="texto-bio">
				<div class="row">
					<div class="col-md-12 desc">
						<div class="blog-w">
							<h2 class="title-blog"></h2>
							<p><i style="margin-right:10px;" class="glyphicon glyphicon-calendar" aria-hidden="true"></i>Nació el 16-10-1082, </p>
							<p><i style="margin-right:10px;" class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>En Campana, Buenos Aires, Argentina. </p>
							<p class="sub-title">Formación</p>
							<p class="formacion-text">2016  -   Clínica de Obra de Alberto Goldenstein.</p>
							<p class="formacion-text">2015  -   Clínica de Obra de Alberto Goldenstein.</p>
							<p class="formacion-text">2014  -   Taller de Fotografía y Edición de Guillermo Ueno.</p>
							<p class="formacion-text">2012  -   Iniciación en la Fotografía e Introducción a la Vison Fotografica de Gustavo Hoses.</p>
							<p class="formacion-text">2005  -   Contador Público.</p>
						</div>
						<hr>
					</div>
				</div>
		</section>

		{% include 'navbar.html' %}
</div>




	<script src="js/jquery/jquery.min.js"></script>
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/magnific-popup/scrollreveal/scrollreveal.min.js"></script>
	<script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="js/creative.min.js"></script>
</body>
</html>
